body {
    background-color: #2B2A33;
}

#drawing-box {
    width: 1000px;
    height: 595px;
    margin: auto; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

canvas {
    display: block;
}

span {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#toolbox button {
    padding: 5px 10px;
    border: none;
    background-color: #48444C;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 2px;
    width: 100%;
}

#toolbox button:hover {
    background-color: #3c3b42;
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
    border: 7px solid #f2f2f2;
    border-radius: 50%;
}

input[type="color"]::-moz-color-swatch {
    border: 7px solid #f2f2f2;
    border-radius: 50%;
}

#toolbox p {
    margin: 0px;
}

#toolbox {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    background-color: #48444C;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#header {
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin-bottom: 10px;
}

#header h1 {
    color: #f2f2f2 ;
    font-size: 30px;
    margin: 0px;
}

#header p {
    color: #f2f2f2;
    font-size: 20px;
    margin: 0px;
}

#outer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    gap: 20px;
}

#inner-container {
    background-color: #48444C;
    border-radius: 10px;
    padding: 10px;
}